.artist-row-section {
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.row-title {
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin-bottom: 20px;
}

.artist-row-container {
    display: flex;
    gap: 30px; 
    overflow-x: auto; 
    padding-bottom: 10px; 
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.artist-row-container::-webkit-scrollbar {
    display: none;
}

.artist-card {
    width: 150px; 
    text-align: center;
    flex-shrink: 0; 
    cursor: pointer;
}

.artist-image-container {
    width: 150px;
    height: 150px;
    margin: 0 auto 10px;
    overflow: hidden;
    border-radius: 50%; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s;
}

.artist-card:hover .artist-image-container {
    transform: scale(1.05); 
}

.artist-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.artist-name {
    font-size: 16px;
    font-weight: bold;
    color: white;
    margin: 10px 0 0;
}

.artist-genre {
    font-size: 14px;
    color: #b3b3b3;
    margin: 5px 0 0;
}